{% extends "base.html" %}
{% load bootstrap_icons %}

{% block page-title %} Setari {% endblock %}


{% block body %}


<hgroup class="title-description">
    <h1>⚙️ Setari</h1>
    <p>
        Aici poti modifica variabilele care stau la baza calculelor pentru
        impozite, taxe, crearea de declaratii, date pfa samd. 
    </p>
</hgroup>


<article class="mt-4">

    <form action="{% url 'setari' %}" method="POST">

        <p class="text-bold">Datele PFA-ului tau:</p>
        <div class="grid">
            <input type="text" placeholder="Nume" aria-label="Nume" />
            <input type="text" placeholder="Adresa" aria-label="Adresa" />
        </div>
        <div class="grid">
            <input type="text" placeholder="Nr.Reg.Com." aria-label="Nr.Reg.Com."/>
            <input type="text" placeholder="CIF/VAT" aria-label="CIF/VAT" />
        </div>
        <div class="grid">
            <input type="text" placeholder="Telefon" aria-label="Telefon" />
            <input type="email" placeholder="Email" aria-label="Email" />
        </div>
        <div class="grid">
            <input type="text" placeholder="IBAN" aria-label="IBAN" />
            <input type="text" placeholder="Cod CAEN Principal" aria-label="Cod CAEN Principal" />
        </div>


<!-- 
        <p class="text-bold mt-2" >
            Coduri CAEN secundare:
        </p>

        <div class="grid">
            <input type="text"
            placeholder="Cod CAEN Secundar"
            aria-label="Cod CAEN Secundar"
            />
            <button class="secondary"
                type="button">
                <PlusLg /> Adauga CAEN secundar
            </button>
        </div> -->
<!-- 
        {caenSecundar.length > 0 ? (
        <p class="pico-color-zinc-450">
            Click pe CAEN pentru a-l sterge
        </p>
        ) : null}

        <div class="grid">
            {caenSecundar.map((caen) => {
            return (
            <div data-testid={caen} key={caen} class="grid">
                <button
                    class="pico-background-red-650"
                    type="button"
                    >
                    {caen}
                </button>
            </div>
            );
            })}
        </div> -->

        <div class="mt-2">
            <button data-testid="salveaza-datele-pfa" type="submit">
                {% bs_icon 'save' %} Salveaza datele PFA
            </button>
            <!-- <p data-testid="save-message" class="pico-color-zinc-450 text-center">
                {loading && saveStatus.length > 0 ? "Se salveaza..." : null}
                {saveStatus.length > 0 ? saveStatus : null}
            </p> -->
        </div>
    </form>
</article>



{% endblock %}